button {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.02em;
  width: 203px;
  height: 55px;
  padding: 14px 28px;
  border-radius: 10px;
  background-color: transparent;
  gap: 10px;
}
